<form ng-submit="create()">
    <div class="form-group">
        <label for="threadTitle">New thread</label>
        <input type="text" id="threadTitle" class="form-control" ng-model="title" placeholder="Type in new thread title and press enter" />
    </div>
</form>
<ul class="threads data-list list-unstyled">
    <li ng-repeat="thread in threadsObject.threads">
        <a class="block clearfix" href="#{{thread.url_posts}}">
            <span class="block pull-left text">{{thread.title}}</span>
            <span class="block pull-left author">{{thread.author.username}}</span>
        </a>
    </li>
</ul>
<div ng-include="'views/templates/pagination.html'" ng-repeat="pagination in [threadsObject.pagination]">
</div>
